@import '../../../styles/variables/layout.module.scss';

.container {
  @include grid-main;

  grid-column: 1 / -1;
  z-index: -1;

  padding: 0;
}

.head {
  @include grid-main;
  grid-column: 1 / -1;

  top: 0;

  padding: 5px 0;

  z-index: -1;
}

.body {
  grid-column: 2 / 16;

  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 10px;

  z-index: 10;

  padding: 5px 0;
}
