@import '../../../../styles/variables/typography.module.scss';

.container {
  width: fit-content;
}

.blur-cell {
  position: relative;
  width: 100%;
}

.button {
  @include type-secondary;
  text-transform: uppercase;
}

.close-button {
  @include type-secondary;
  position: absolute;
  top: 7px;
  right: 10px;

  opacity: 0;
  display: none;
}

.children {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;

  padding-top: 2em;
}
