@import '../../../../styles/variables/typography.module.scss';

.container {
  width: fit-content;
}

.button {
  @include type-secondary;
  text-transform: uppercase;
}

.children {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;

  padding-top: 2em;
}
