@import '../../../styles/variables/breakpoints.module.scss';

.media {
  width: 100%;

  z-index: -1;
}

.media-wrapper-head {
  grid-column: span 16;

  @media (min-width: $md) {
    grid-column: var(--lg-col-pos);
  }
}

.media-wrapper-body {
  grid-column: span 15;

  padding-bottom: 30px;

  @media (min-width: $md) {
    grid-column: var(--lg-col-pos);
  }
}
