@import '../../../../../styles/variables/colors.module.scss';
@import '../../../../../styles/variables/typography.module.scss';

.container {
  @include type-secondary;

  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  transition: translate 0.2s ease-in-out;
}

.out {
  translate: 100%;
}

.button {
  @include type-secondary;

  border-radius: 50%;

  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-yellow;

  pointer-events: auto;
}
