@import '../../../../../styles/variables/colors.module.scss';
@import '../../../../../styles/variables/typography.module.scss';

.button {
  position: fixed;
  bottom: 1em;
  right: 1em;

  padding: 7px 10px;

  background: $color-yellow;

  @include type-secondary;

  transition: translate 0.2s ease-in-out;
}

.out {
  translate: calc(100% + 10px);
}
