@import '../../styles/variables/colors.module.scss';
@import '../../styles/variables/typography.module.scss';

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opaque {
  backdrop-filter: blur(7px);
  background-color: $color-bg-60;
}

@mixin container {
  position: relative;
}

.container {
  @include container;
}

.z-container {
  @include container;
  z-index: 100;
}
