@import '../../styles/variables/colors.module.scss';
@import '../../styles/variables/typography.module.scss';

.blur-frame {
  @include type-secondary;

  background-color: $color-bg-60;
  backdrop-filter: blur(7px);

  padding: 7px 10px;
  border-radius: 2px;
}
