@import '../../../../../styles/variables/typography.module.scss';

.contact-link {
  @include type-secondary;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  text-transform: none;
}
