$color-bg: #f9f9f8;
$color-black: #1e1c15;
$color-yellow: #fcff68;

$color-bg-60: rgba($color-bg, 0.6);

:export {
  colorBg: $color-bg;
  colorBlack: $color-black;
  colorYellow: $color-yellow;
  colorBg60: $color-bg-60;
}
