@import '../../../styles/variables/layout.module.scss';

.nav {
  @include grid-main;

  grid-column: 1 / 17;

  padding-top: 7px;

  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

.homelink-col {
  grid-column: 1 / 5;
}
