@import '../../styles/variables/layout.module.scss';
@import '../../styles/variables/typography.module.scss';
@import '../../styles/variables/breakpoints.module.scss';

@mixin mobile-hide {
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.footer {
  width: 100%;
  height: 100svh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr min-content;

  padding: 0 7px;
}

.credit {
  @include type-secondary;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  width: 30ch;

  @include mobile-hide;
}

.location {
  @include type-secondary;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  width: 30ch;

  @include mobile-hide;
}

.heading {
  @include grid-main;
  @include type-xl;
  grid-row: 4 / 5;
  width: full;
  overflow: hidden;
}

.span-one {
  grid-column: 1 / 5;
}

.span-two {
  grid-column: 5 / 9;
}

.span-three {
  grid-column: 9 / 17;
  text-align: right;
}
