@import '../../styles/variables/typography.module.scss';
@import '../../styles/variables/layout.module.scss';

.container {
  grid-column: 1 / 17;
  overflow: hidden;
  height: 0;
}

.heading {
  @include grid-main;
  @include type-xl;

  width: 100%;

  .span-one {
    grid-column: 1 / 5;
  }

  .span-two {
    grid-column: 5 / 9;
  }

  .span-three {
    grid-column: 9 / 17;
    text-align: right;
  }
}
