@import '../../styles/variables/colors.module.scss';

$cursor-size: 50px;

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  height: $cursor-size;
  width: $cursor-size;

  border-radius: 50%;

  background-color: $color-yellow;

  pointer-events: none;

  z-index: 0;
}

:export {
  cursorSize: $cursor-size;
}
